:root {
    /* Schedule tiles back colors */
    --color-back-1: #ffccbc;
    --color-back-2: #c8e6c9;
    --color-back-3: #bbdefb;
    --color-back-4: #e1bee7;
    --color-back-5: #fff9c4;
    --color-back-6: #d1c4e9;
    --color-back-7: #b2ebf2;
    --color-back-8: #ffecb3;
    --color-back-9: #dcedc8;
    --color-back-10: #f8bbd0;
    --color-back-11: #b3e5fc;
    --color-back-12: #d7ccc8;
    --color-back-13: #ffe0b2;
    --color-back-14: #a5d6a7;
    --color-back-15: #90caf9;
    --color-back-16: #ce93d8;
    --color-back-17: #ffcc80;
    --color-back-18: #80cbc4;
    --color-back-19: #ef9a9a;
    --color-back-20: #9fa8da;
    --color-back-21: #c5e1a5;
    --color-back-22: #81d4fa;
    --color-back-23: #f48fb1;
    --color-back-24: #b39ddb;
    --color-back-25: #ffab91;
    --color-back-26: #80deea;
    --color-back-27: #ffe082;
    --color-back-28: #aed581;
    --color-back-29: #64b5f6;
    --color-back-30: #ba68c8;

    /* Schedule tiles text colors */
    --color-bg-back: #5e5e5e;
    --color-bg-dark: #333;
    --color-title-tile: #333;
    --color-description-tile: #444;
    --color-primary: #2177b7;
    --color-primary-hover: #dff1ff;
    --color-primary-light: #fefefe;
    --color-tool-border: #cbcbcb;
    --color-tool: #f4f1ef;
    --color-header-border: #cac6bf;

    --font-title-tile: 400 14px/16px "Roboto", "Arial", sans-serif;
    --font-description-tile: 400 10px/10px "Roboto", "Arial", sans-serif;
    --font-bold-text-1: 700 14px/16px "Roboto", "Arial", sans-serif;
    --font-bold-text-2: 700 16px/18px "Roboto", "Arial", sans-serif;
    --font-bold-text-3: 700 18px/20px "Roboto", "Arial", sans-serif;
    --font-regular-text-1: 400 14px/16px "Roboto", "Arial", sans-serif;
    --font-regular-text-2: 400 18px/20px "Roboto", "Arial", sans-serif;
    --font-regular-text-3: 400 20px/22px "Roboto", "Arial", sans-serif;
    --font-regular-text-4: 400 22px/24px "Roboto", "Arial", sans-serif;
    --font-regular-text-5: 400 24px/28px "Roboto", "Arial", sans-serif;
    --font-regular-text-6: 400 26px/30px "Roboto", "Arial", sans-serif;
    --font-regular-text-7: 400 28px/32px "Roboto", "Arial", sans-serif;
    --font-bold-caption-1: 700 16px/18px "Roboto", "Arial", sans-serif;
    --font-regular-caption-1: 400 16px/18px "Roboto", "Arial", sans-serif;
}
