.schedule-tooltip-container {
    position: relative;
}
.schedule-tooltip {
    position: absolute;
    z-index: 10;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--color-primary-light);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
